<a href="https://colab.research.google.com/github/Anniikett/ANN-for-Regression_Sklearn/blob/main/3_2_Concatenating_and_Merging_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Concatenating Datasets

Pandas is rich in its support for combining datasets and data with different datatypes. It also provides functionality to support set logic for indexes and relational algebra.

### `concat()` Function

The `concat()` function does the underlying heavy lifting of performing concatenation operations, for two or more dataframes, along an axis. It also allows performing of optional set operations (e.g. union or intersection) of the indexes (if any) on the other axes.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
northeast = pd.Series(['CT', 'ME', 'MA', 'NH', 'RI', 'VT', 'NJ', 'NY', 'PA'])
south = pd.Series(['DE', 'FL', 'GA', 'MD', 'NC', 'SC', 'VA', 'DC', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA', 'OK', 'TX'])
midwest = pd.Series(['IL', 'IN', 'MN', 'MO', 'NE', 'ND', 'SD', 'IA', 'KS', 'MI', 'OH', 'WI'])
west = pd.Series(['AZ', 'CO', 'ID', 'MT', 'NV', 'NM', 'UT', 'WY', 'AK', 'CA', 'HI', 'OR', 'WA'])

In [ ]:
series1 = northeast.append(south)
series1

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
0     DE
1     FL
2     GA
3     MD
4     NC
5     SC
6     VA
7     DC
8     WV
9     AL
10    KY
11    MS
12    TN
13    AR
14    LA
15    OK
16    TX
dtype: object

In [ ]:
series1.loc[3]

3    NH
3    MD
dtype: object

In [ ]:
series1.reset_index()

    index   0
0       0  CT
1       1  ME
2       2  MA
3       3  NH
4       4  RI
5       5  VT
6       6  NJ
7       7  NY
8       8  PA
9       0  DE
10      1  FL
11      2  GA
12      3  MD
13      4  NC
14      5  SC
15      6  VA
16      7  DC
17      8  WV
18      9  AL
19     10  KY
20     11  MS
21     12  TN
22     13  AR
23     14  LA
24     15  OK
25     16  TX

In [ ]:
series1 = series1.reset_index(drop=True)
series1

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
9     DE
10    FL
11    GA
12    MD
13    NC
14    SC
15    VA
16    DC
17    WV
18    AL
19    KY
20    MS
21    TN
22    AR
23    LA
24    OK
25    TX
dtype: object

In [ ]:
series2 = pd.concat([northeast, south])
series2

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
0     DE
1     FL
2     GA
3     MD
4     NC
5     SC
6     VA
7     DC
8     WV
9     AL
10    KY
11    MS
12    TN
13    AR
14    LA
15    OK
16    TX
dtype: object

In [ ]:
series2 = pd.concat([northeast, south], ignore_index=True)
series2

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
9     DE
10    FL
11    GA
12    MD
13    NC
14    SC
15    VA
16    DC
17    WV
18    AL
19    KY
20    MS
21    TN
22    AR
23    LA
24    OK
25    TX
dtype: object

In [ ]:
## Using DataFrames:

In [ ]:
pop1 = pd.read_csv("population_01.csv", index_col=0)
pop1

               2010 Census Population
Zip Code ZCTA
66407                             479
72732                            4716
50579                            2405
46241                           30670

In [ ]:
pop2 = pd.read_csv("population_02.csv", index_col=0)
pop2

               2010 Census Population
Zip Code ZCTA
12776                            2180
76092                           26669
98360                           12221
49464                           27481

In [ ]:
#using append:
pop1.append(pop2)

               2010 Census Population
Zip Code ZCTA
66407                             479
72732                            4716
50579                            2405
46241                           30670
12776                            2180
76092                           26669
98360                           12221
49464                           27481

In [ ]:
population = pd.read_csv("population_00.csv", index_col=0)
population

               2010 Census Population
Zip Code ZCTA
57538                             322
59916                             130
37660                           40038
2860                            45199

In [ ]:
unemployment = pd.read_csv("unemployment.csv", index_col=0)
unemployment

       Unemployment  Participants
Zip
2860           0.11         34447
46167          0.02          4800
1097           0.33            42
80808          0.07          4310

In [ ]:
population.append(unemployment)

       2010 Census Population  Unemployment  Participants
57538                   322.0           NaN           NaN
59916                   130.0           NaN           NaN
37660                 40038.0           NaN           NaN
2860                  45199.0           NaN           NaN
2860                      NaN          0.11       34447.0
46167                     NaN          0.02        4800.0
1097                      NaN          0.33          42.0
80808                     NaN          0.07        4310.0

In [ ]:
#Concact at row level
pd.concat([population, unemployment])

       2010 Census Population  Unemployment  Participants
57538                   322.0           NaN           NaN
59916                   130.0           NaN           NaN
37660                 40038.0           NaN           NaN
2860                  45199.0           NaN           NaN
2860                      NaN          0.11       34447.0
46167                     NaN          0.02        4800.0
1097                      NaN          0.33          42.0
80808                     NaN          0.07        4310.0

In [ ]:
#Concact at row level
pd.concat([population, unemployment], axis=0)

       2010 Census Population  Unemployment  Participants
57538                   322.0           NaN           NaN
59916                   130.0           NaN           NaN
37660                 40038.0           NaN           NaN
2860                  45199.0           NaN           NaN
2860                      NaN          0.11       34447.0
46167                     NaN          0.02        4800.0
1097                      NaN          0.33          42.0
80808                     NaN          0.07        4310.0

In [ ]:
#Concact at column level
pd.concat([population, unemployment], axis=1)

       2010 Census Population  Unemployment  Participants
1097                      NaN          0.33          42.0
2860                  45199.0          0.11       34447.0
37660                 40038.0           NaN           NaN
46167                     NaN          0.02        4800.0
57538                   322.0           NaN           NaN
59916                   130.0           NaN           NaN
80808                     NaN          0.07        4310.0

In [ ]:
#Multi-Indexes

In [ ]:
q1_2013 = pd.read_csv("q1_rainfall_2013.csv", index_col=0)
q1_2013

       Precipitation
Month
Jan         0.096129
Feb         0.067143
Mar         0.061613

In [ ]:
q1_2014 = pd.read_csv("q1_rainfall_2014.csv", index_col=0)
q1_2014

       Precipitation
Month
Jan         0.050323
Feb         0.082143
Mar         0.709680

In [ ]:
q1_1314 = pd.concat([q1_2013, q1_2014])
q1_1314

In [ ]:
q1_1314 = pd.concat([q1_2013, q1_2014], keys=[2013,2014])
q1_1314

In [ ]:
q1_1314.loc[2013]

In [ ]:
q1_1314 = pd.concat([q1_2013, q1_2014], axis="columns")
q1_1314

In [ ]:
q1_1314 = pd.concat([q1_2013, q1_2014], keys=[2013,2014], axis=1)
q1_1314

In [ ]:
q1_1314[2013]

In [ ]:
dict_q1 = {2013:q1_2013, 2014:q1_2014}
dict_q1

In [ ]:
rain_1314 = pd.concat(dict_q1, axis=1)
rain_1314

In [ ]:
### Inner and Outer Joins

In [ ]:
# np.arange

In [ ]:
np.arange(4,12,2)

In [ ]:
np.arange(8)

In [ ]:
np.arange(8).reshape(2,4)

In [ ]:
np.arange(8).reshape(2,4) + 0.1

In [ ]:
A= np.arange(8).reshape(2,4) + 0.1
A

In [ ]:
B = np.arange(6).reshape(2,3) + 0.2
B

In [ ]:
C = np.arange(12).reshape(3,4) + 0.3
C

In [ ]:
#Stacking arrays Horizontally (#Rows should be same)

np.hstack([A,B])

In [ ]:
np.concatenate([A,B], axis=1)

In [ ]:
# trying to add A,C with different #rows
np.concatenate([A,C], axis=1)

In [ ]:
#Stacking arrays Vertically (#Columns should be same)

np.vstack([A,C])

In [ ]:
np.concatenate([A,C], axis=0)

In [ ]:
# trying to add B,C with different #columns
np.concatenate([B,C], axis=0)

In [ ]:
population

In [ ]:
unemployment

In [ ]:
pd.concat([population, unemployment], axis=1)

In [ ]:
pd.concat([population, unemployment], axis=1, join="outer")

In [ ]:
pd.concat([population, unemployment], axis=1, join="inner")

In [ ]:
pd.concat([population, unemployment], axis=0, join="inner")

In [ ]:
pd.concat([population, unemployment], axis=0, join="outer")