<a href="https://colab.research.google.com/github/Anniikett/ANN-for-Regression_Sklearn/blob/main/Pandas_31st_July_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas: An Introduction

- Pandas is a python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.
- It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python.
- It has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language.

![](../all_images/pandas.png)

### Features of Pandas

Here are just a few of the things that pandas does well:

- Easy to manipulate missing data(represented as NaN).
- Provide capability to reshaping and pivoting.
- Good for merging ang joining data sets.
- Provide a robust IO tools for loading data from flat files (CSV), Excel files, databases and HDFS.
- Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations
- Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
- Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
- Intelligent label-based slicing, fancy indexing, and subsetting of large data sets
- Hierarchical labeling of axes (possible to have multiple labels per tick)
- Time series-specific functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging.

Source: https://github.com/pandas-dev/pandas#installation-from-sources

## Pandas Installation

`pip install pandas`

### Pandas Dependencies

- NumPy
- python-dateutil
- pytz

### Import Pandas

In [ ]:
import pandas as pd
import numpy as np

## Create: Pandas Objects

Pandas mainly works with following objects,
- Series
- Data Frames

## Working with Series

Series is a one-dimensional labeled array that can holding any data type (integers, strings, floating point numbers, Python objects, etc.).

In [ ]:
# Syntax
# s = pd.Series(data, index=index)

Here, data can be,

- a Python dict

- an ndarray

- a scalar value (like 5)

The passed index is a list of __axis labels__.

If data is an ndarray, index must be the same length as data. If no index is passed, one will be created having values [0, ..., len(data) - 1].

In [ ]:
s = pd.Series(np.random.randn(6), index=['a', 'v', 'w', 'x', 'y','z'])

In [ ]:
s

a    0.471035
v    0.127004
w   -0.877910
x   -1.508325
y    1.318487
z    1.799807
dtype: float64

In [ ]:
s.index

Index(['a', 'v', 'w', 'x', 'y', 'z'], dtype='object')

In [ ]:
pd.Series(np.random.randn(6))

0    1.291648
1   -0.160484
2   -1.600818
3   -1.135344
4   -1.286713
5   -1.460832
dtype: float64

### From dictionary

Series can be instantiated from dictionary

In [ ]:
d = {'abc': 1, 'pqw': 4, 'xyz': 2}

In [ ]:
pd.Series(d)

abc    1
pqw    4
xyz    2
dtype: int64

### Note

- When the data is a dict, and an index is not passed, the Series index will be ordered by the dict’s insertion order, if you’re using Python version >= 3.6 and Pandas version >= 0.23.

- If user using Python < 3.6 or Pandas < 0.23, and an index is not passed, the Series index will be the lexically ordered list of dict keys.

If an index is passed, the values in data corresponding to the labels in the index will be pulled out.

In [ ]:
d = {'a': 0., 'b': 4, 'c': 2.}

In [ ]:
pd.Series(d)    # Create object without index

a    0.0
b    4.0
c    2.0
dtype: float64

In [ ]:
pd.Series(d, index=['b', 'c', 'd', 'a'])    # Create object with index

b    4.0
c    2.0
d    NaN
a    0.0
dtype: float64

### Note

NaN (not a number) is the standard missing data marker used in pandas.

### From Scalar Value

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index.

In [ ]:
pd.Series(6., index=['A', 'aNI', 'cAT', 'dog', 'elle'])

A       6.0
aNI     6.0
cAT     6.0
dog     6.0
elle    6.0
dtype: float64

## Working with DataFrame

The most commonly used pandas object, DataFrame, is a 2-dimensional labeled data structure with columns of potentially different types. Like Series, DataFrame works with many types of input,

- Dict of 1D ndarrays, lists, dicts, or Series

- 2-D numpy.ndarray

- Structured or record ndarray

- A Series

- Another DataFrame

Along with the data, we can optionally pass index (row labels) and columns (column labels) arguments.

If axis labels are not passed, they will be constructed from the input data.

### Note

- When the data is a dict, and columns is not specified, the DataFrame columns will be ordered by the dict’s insertion order, if you are using Python version >= 3.6 and Pandas >= 0.23.

- If user are using Python < 3.6 or Pandas < 0.23, and columns is not specified, the DataFrame columns will be the lexically ordered list of dict keys.

## From dict of Series or dicts¶

The resulting index will be the union of the indexes of the various Series. If there are any nested dicts, these will first be converted to Series. If no columns are passed, the columns will be the ordered list of dict keys.

In [ ]:
d = {'one': pd.Series([1., 2., 3.,6], index=['a', 'b', 'c','d']),'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  6.0  4.0

In [ ]:
df = pd.DataFrame(d, index=['d', 'b', 'a']) # define index

In [ ]:
df = pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])  # define index and column name

**Note**
When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.

In [ ]:
df.index

Index(['d', 'b', 'a'], dtype='object')

In [ ]:
df.columns

Index(['two', 'three'], dtype='object')

### From dict of ndarrays / lists

The ndarrays must all be the same length. If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [ ]:
d = {'one': [1., 2., 3., 4.],'two': [4., 3., 2., 1.],'three': [6.,8.,8.,9.]}

In [ ]:
pd.DataFrame(d)

   one  two  three
0  1.0  4.0    6.0
1  2.0  3.0    8.0
2  3.0  2.0    8.0
3  4.0  1.0    9.0

In [ ]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two  three
a  1.0  4.0    6.0
b  2.0  3.0    8.0
c  3.0  2.0    8.0
d  4.0  1.0    9.0

In [ ]:
pd.DataFrame(d, columns=['one','two'])

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

## Indexing and Selecting Data

The Python and NumPy indexing operator "[]" and attribute operator "." provide quick and easy access to Pandas data structures across a wide range of use cases. However, since the type of the data to be accessed isn’t known in advance, directly using standard operators has some optimization limits. For production code, we recommend that you take advantage of the optimized pandas data access methods explained in this chapter.

Pandas now supports three types of Multi-axes indexing; the three types are mentioned in the following table −

![](../all_images/pandas_index.PNG)

## Indexing with .loc()

.loc()
Pandas provide various methods to have purely label based indexing. When slicing, the start bound is also included. Integers are valid labels, but they refer to the label and not the position.

.loc() has multiple access methods like −

- A single scalar label
- A list of labels
- A slice object
- A Boolean array

loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.

### Example 1

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), index = ['p','q','r','s','t','u','v','w'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,['A','B']])

          A         B
p  0.398420  0.711926
q  1.077872 -0.534324
r -1.002289 -1.562597
s  1.598471  1.056596
t  0.273088  0.745970
u  0.548374  1.133914
v -0.028706  0.542413
w  1.938033 -0.155026

### Example 2

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), index = ['p','q','r','s','t','u','v','w'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         C
p  1.434930 -0.334578
q  1.078887  0.433718
r  1.542215  0.231899
s  0.430660  0.335655
t  0.709492  0.670342
u -1.429457  0.083551
v -0.756878  0.056669
w -0.085846  0.825350

### Example 3

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select few rows for multiple columns
print (df.loc[['a','b','f','h','c'],['A','C']])

          A         C
a -1.758092  0.898988
b  0.508384 -0.520305
f -0.508791  1.993296
h -0.317209 -1.768228
c  0.011300 -0.912864

### Example 4

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['p','q','r','s','t','u','v','w'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc[:'p',['A']])

          A
p -0.618017

### Example 5: Conditional Access

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['p','q','r','s','t','u','v','w'], columns = ['A', 'B', 'C', 'D'])

# for getting values with a boolean array
print (df.loc['p']>0)

A    False
B     True
C     True
D    False
Name: p, dtype: bool

## Indexing with .iloc()

Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.

The various access methods are as follows −

- An Integer
- A list of integers
- A range of values

### Example 1

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['a', 'b', 'c', 'd'])

# select all rows for a specific column
print (df.iloc[:5])

          a         b         c         d
0  0.725704  0.713317  0.371636  0.231735
1 -0.817570 -1.084684 -0.680529  0.390748
2  1.258741 -0.048734  0.191638  2.007468
3  0.858931 -1.707586 -0.758776 -0.223419
4  0.407815 -0.580032  1.199409  1.722013

### Example 2

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['a', 'b', 'c', 'd'])

# Integer slicing
print (df.iloc[:4])
print (df.iloc[1:5, 2:4])

          a         b         c         d
0 -2.163014  0.738825  1.022891  1.051634
1 -1.676197 -0.133618 -1.242150  1.883163
2 -0.216755 -1.563479 -1.589782  1.047341
3  1.161928 -1.006856  1.631386  1.680996
          c         d
1 -1.242150  1.883163
2 -1.589782  1.047341
3  1.631386  1.680996
4 -1.271577  1.579576

In [ ]:
print (df.iloc[1:5])

          a         b         c         d
1 -1.676197 -0.133618 -1.242150  1.883163
2 -0.216755 -1.563479 -1.589782  1.047341
3  1.161928 -1.006856  1.631386  1.680996
4 -1.992811 -0.363524 -1.271577  1.579576

In [ ]:
print (df.iloc[:,1:3])

          b         c
0  0.738825  1.022891
1 -0.133618 -1.242150
2 -1.563479 -1.589782
3 -1.006856  1.631386
4 -0.363524 -1.271577
5 -0.442509 -0.310681
6 -0.090376  0.022645
7  0.948892 -0.084910

### Example 3

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['a', 'b', 'c', 'd'])
# Slicing through list of values
print (df.iloc[[1, 3, 5], [1, 3]])
print (df.iloc[1:3, :])
print (df.iloc[:,1:3])

## Use of Notations

Getting values from the Pandas object with Multi-axes indexing uses the following notation −

![](../all_images/pandas_noti.PNG)

### Indexing with []

Let us now see how each operation can be performed on the DataFrame object. We will use the basic indexing operator '[ ]'

### Example 1

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['c_0', 'c_1', 'c_2', 'c_3'])
print (df['c_2'])

NameError: ignored

Note − We can pass a list of values to [ ] to select those columns.

### Example 2

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['c_0', 'c_1', 'c_2', 'c_3'])

print (df[['c_1','c_2']])

### Example 3

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['c_0', 'c_1', 'c_2', 'c_3'])
print(df[0:2])

### Attribute Access
Columns can be selected using the attribute operator '.'.

### Example

In [ ]:
df = pd.DataFrame(np.random.randn(9, 5), columns = ['v_0', 'v_1', 'v_2', 'v_3','v_4'])
print (df.v_1)

## Pandas - Missing Data

Missing data is always a problem in real life scenarios. Areas like machine learning and data mining face severe issues in the accuracy of their model predictions because of poor quality of data caused by missing values. In these areas, missing value treatment is a major point of focus to make their models more accurate and valid.

### When and Why Is Data Missed?

Let us consider an online survey for a product. Many a times, people do not share all the information related to them. Few people share their experience, but not how long they are using the product; few people share how long they are using the product, their experience but not their contact information. Thus, in some or the other way a part of data is always missing, and this is very common in real time.

Let us now see how we can handle missing values (say NA or NaN) using Pandas.

In [ ]:
# import the pandas library
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 3), index=['a', 'c', 'e', 'f', 'h','b','d','g'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

Using reindexing, we have created a DataFrame with missing values. In the output, NaN means Not a Number.

### Checking for Missing Values

Pandas provides the following functions:

- isnull()
- notnull()

which are also methods on Series and DataFrame objects −

### Example 1

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 3), index=['a', 'c', 'e', 'f', 'h','b','d','g'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df['one'].isnull())

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
Name: one, dtype: bool

### Example 2

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])    # reindexing introduces missing values

print(df)
print (df['one'].notnull())

        one       two     three
a -0.431609  2.015424 -0.392797
b       NaN       NaN       NaN
c  0.174413 -0.051818 -0.728680
d       NaN       NaN       NaN
e -0.808368 -0.870889  0.633081
f  0.532451 -1.647495 -0.826276
g       NaN       NaN       NaN
h  1.111245 -0.356226  1.215791
a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [ ]:
df.sum()

one      0.578131
two     -0.911004
three   -0.098881
dtype: float64

In [ ]:
df['one'].value_counts()

 0.532451    1
-0.808368    1
-0.431609    1
 1.111245    1
 0.174413    1
Name: one, dtype: int64

In [ ]:
df.kurtosis()

one     -1.204805
two      2.017468
three   -1.908317
dtype: float64

### Calculations with Missing Data

- When summing data, NA will be treated as Zero
- If the data are all NA, then the result will be NA

### Example 1

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df[['one','two']])
print(df[['one','two']].sum())
print(df['one'].count())   # Number of non-missing values

        one       two
a  0.973959 -0.308990
b       NaN       NaN
c -1.098104  1.051052
d       NaN       NaN
e  0.702328 -1.073407
f -1.268975 -2.065424
g       NaN       NaN
h -0.093894  0.629744
one   -0.784687
two   -1.767025
dtype: float64
5

### Example 2

In [ ]:
df = pd.DataFrame(index=[0,1,2,3,4,5],columns=['one','two'])
print (df['one'].sum())

0

## Cleaning / Filling Missing Data

Pandas provides various methods for cleaning the missing values. The fillna function can “fill in” NA values with non-null data in a couple of ways, which we have illustrated in the following sections.

## Replace NaN with a Scalar Value

The following program shows how you can replace "NaN" with "0".

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two', 'three'])

df = df.reindex(['a', 'b', 'c'])

print (df)
print()
print (("NaN replaced with '0':"))
print (df.fillna(0))

        one       two     three
a  0.572735  1.132871 -2.220538
b       NaN       NaN       NaN
c  0.247240 -0.450648  0.079623

NaN replaced with '0':
        one       two     three
a  0.572735  1.132871 -2.220538
b  0.000000  0.000000  0.000000
c  0.247240 -0.450648  0.079623

Here, we are filling with value zero; instead we can also fill with any other value.

## Fill NA Forward and Backward

Using the concepts of filling we will fill the missing values.

![](../all_images/pandas_missing.PNG)

### Example 1

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['m-0', 'm-1', 'm-2'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)
print()
print (df.fillna(method='pad'))

        m-0       m-1       m-2
a -0.929071  1.529504 -0.447521
b       NaN       NaN       NaN
c  1.950010 -0.670011  1.320880
d       NaN       NaN       NaN
e  0.841382  0.989278  0.098697
f -0.301466 -1.094925 -1.135479
g       NaN       NaN       NaN
h  1.172717  0.154625 -0.435339

        m-0       m-1       m-2
a -0.929071  1.529504 -0.447521
b -0.929071  1.529504 -0.447521
c  1.950010 -0.670011  1.320880
d  1.950010 -0.670011  1.320880
e  0.841382  0.989278  0.098697
f -0.301466 -1.094925 -1.135479
g -0.301466 -1.094925 -1.135479
h  1.172717  0.154625 -0.435339

In [ ]:
print (df.fillna(method='pad'))

        m-0       m-1       m-2
a -0.929071  1.529504 -0.447521
b -0.929071  1.529504 -0.447521
c  1.950010 -0.670011  1.320880
d  1.950010 -0.670011  1.320880
e  0.841382  0.989278  0.098697
f -0.301466 -1.094925 -1.135479
g -0.301466 -1.094925 -1.135479
h  1.172717  0.154625 -0.435339

### Example 2

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['m-0', 'm-1', 'm-2'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)
print()
print (df.fillna(method='backfill'))

        m-0       m-1       m-2
a  1.356476 -1.099245 -0.570105
b       NaN       NaN       NaN
c -0.176436  0.745693  0.135245
d       NaN       NaN       NaN
e -0.667939 -2.151491 -0.549879
f -1.018427 -0.491915  0.030991
g       NaN       NaN       NaN
h  0.056854  0.041621 -0.273440

        m-0       m-1       m-2
a  1.356476 -1.099245 -0.570105
b -0.176436  0.745693  0.135245
c -0.176436  0.745693  0.135245
d -0.667939 -2.151491 -0.549879
e -0.667939 -2.151491 -0.549879
f -1.018427 -0.491915  0.030991
g  0.056854  0.041621 -0.273440
h  0.056854  0.041621 -0.273440

## Drop Missing Values

If user want to simply exclude the missing values, then use the dropna function along with the axis argument. By default, axis=0, i.e., along row, which means that if any value within a row is NA then the whole row is excluded.

### Example 1

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df.dropna())

        one       two     three
a -1.362721 -0.426807  0.538944
c -0.246444  2.922275  1.022782
e -0.183150 -0.030727  1.111933
f -0.630718 -1.553115 -0.166965
h -0.787478 -1.053094 -0.720156

### Example 2

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

## Replace Missing (or) Generic Values

Many times, we have to replace a generic value with some specific value. We can achieve this by applying the replace method.

Replacing NA with a scalar value is equivalent behavior of the fillna() function.

### Example 1

In [ ]:
df = pd.DataFrame({'one':[10.1,20.2,30.3,40,50,2000], 'two':[1000.00,0,30,40,50,60]})
print(df)
print (df.replace({1000.00:10,2000:60.66}))

### Example 2

In [ ]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})
print(df)
print(df.replace({1000:10,2000:60}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [ ]:
## Practice Example:

In [ ]:
data = (['Amit',40],['Nikita',23],['Clara',40])
df = pd.DataFrame(data,columns=["Name","Age"])
#print(df)

df.columns=["First_Name","Age"]

df

  First_Name  Age
0       Amit   40
1     Nikita   23
2      Clara   40

In [ ]:
#indexed data frame from dict
data = {'Name':['Amit', 'Bunty', 'Clara'],'Age':[10,20,30]}
df= pd.DataFrame(data)
df

    Name  Age
0   Amit   10
1  Bunty   20
2  Clara   30

In [ ]:
df = pd.DataFrame(data, index=['rank1','rank2','rank3'])#row labels will be added on top of the index numbers
#df = pd.DataFrame(data, index=list(range(1001,1004)))#row indexes will replace the original index numbers
df

        Name  Age
rank1   Amit   10
rank2  Bunty   20
rank3  Clara   30

In [ ]:
a=df["Name"]
print(type(a))
a

<class 'pandas.core.series.Series'>

rank1     Amit
rank2    Bunty
rank3    Clara
Name: Name, dtype: object

In [ ]:
b=df[["Name","Age"]]
print(type(b))
b

<class 'pandas.core.frame.DataFrame'>

        Name  Age
rank1   Amit   10
rank2  Bunty   20
rank3  Clara   30

In [ ]:
df.columns

Index(['Name', 'Age'], dtype='object')

In [ ]:
#adding a column

df['address']=["Mumbai","Pune","Mumbai"]
df

        Name  Age address
rank1   Amit   10  Mumbai
rank2  Bunty   20    Pune
rank3  Clara   30  Mumbai

In [ ]:
df=df[['Name', 'address','Age']]
df

#X1 X2 Y X3 X4
#X1 X2 X3 X4 Y

        Name address  Age
rank1   Amit  Mumbai   10
rank2  Bunty    Pune   20
rank3  Clara  Mumbai   30

In [ ]:
df.columns

Index(['Name', 'address', 'Age'], dtype='object')

In [ ]:
df["Newcol"]=[5,10,12]
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        Name address  Age  Newcol
rank1   Amit  Mumbai   10       5
rank2  Bunty    Pune   20      10
rank3  Clara  Mumbai   30      12

In [ ]:
df["Revised_Col"]=df["Newcol"]*2
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        Name address  Age  Newcol  Revised_Col
rank1   Amit  Mumbai   10       5           10
rank2  Bunty    Pune   20      10           20
rank3  Clara  Mumbai   30      12           24

In [ ]:
#deleting a column
del df["Newcol"]
df

        Name address  Age  Revised_Col
rank1   Amit  Mumbai   10           10
rank2  Bunty    Pune   20           20
rank3  Clara  Mumbai   30           24

In [ ]:
# Dropping columns

#df=df.drop('rank1')
#df=df.drop(['Revised_Col'],axis=1)
df.drop('rank1',inplace=True)

#axis=0-->rows (default)
#axis=1-->cols

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df

        Name address  Age  Revised_Col
rank2  Bunty    Pune   20           20
rank3  Clara  Mumbai   30           24

In [ ]:
# Dropping rows

df.drop(df[(df.Name=="Bunty") & (df.Age<=20)].index,axis=0)

        Name address  Age  Revised_Col
rank3  Clara  Mumbai   30           24

In [ ]:
df

        Name address  Age  Revised_Col
rank2  Bunty    Pune   20           20
rank3  Clara  Mumbai   30           24

In [ ]:
# Export as CSV
df.to_csv(r"C:\Users\Jayanti\Documents\Imarticus - PGAA\Batch 8\sampledf.csv",index=True,header=True)

In [ ]:
# Export as XLSX
df.to_excel("sample.xlsx",index=False,header=True)

In [ ]:
new_df=pd.DataFrame.copy(df)

In [ ]:
new_df

        Name address  Age  Revised_Col
rank2  Bunty    Pune   20           20
rank3  Clara  Mumbai   30           24

## From CSV and XlSX Files

### Pandas - IO Tools

The Pandas I/O API is a set of top level reader functions accessed like pd.read_csv() and read_excel() that generally return a Pandas object.

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
#reading df from a file
import pandas as pd
df = pd.read_csv(r'C:\Users\Jayanti\Documents\Imarticus - PGAA\Batch 8\sampledf.csv', index_col=0,header=0)
df

        Name address  Age  Revised_Col
rank2  Bunty    Pune   20           20
rank3  Clara  Mumbai   30           24

In [ ]:
?pd.read_csv

In [ ]:
df3=pd.read_excel('sample.xlsx',header=0)
df3

    Name address  Age  Revised_Col
0  Bunty    Pune   20           20
1  Clara  Mumbai   30           24

In [ ]:
#Preparing the data
#print(df.dtypes)
#print(df.Age.dtype)
#print(df.shape)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, rank2 to rank3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         2 non-null      object
 1   address      2 non-null      object
 2   Age          2 non-null      int64
 3   Revised_Col  2 non-null      int64
dtypes: int64(2), object(2)
memory usage: 80.0+ bytes

In [ ]:
df

        Name address  Age  Revised_Col
rank2  Bunty    Pune   20           20
rank3  Clara  Mumbai   30           24

In [ ]:
df.at["rank3", ["Name","address"]]=["Ramesh","Pune"]

In [ ]:
df

         Name address  Age  Revised_Col
rank2   Bunty    Pune   20           20
rank3  Ramesh    Pune   30           24

In [ ]:
df.at["rank1", ["Name","address"]]=["Ramesh","Bangalore"]

In [ ]:
df

         Name    address   Age  Revised_Col
rank2   Bunty       Pune  20.0         20.0
rank3  Ramesh       Pune  30.0         24.0
rank1  Ramesh  Bangalore   NaN          NaN

In [ ]:
import numpy as np
df.loc[(df.Name == "Ramesh") & (df.address=="Pune") ,[ "address","Name"]] =["Bangalore","Rahul"]

In [ ]:
df

         Name    address   Age  Revised_Col
rank2   Bunty       Pune  20.0         20.0
rank3   Rahul  Bangalore  30.0         24.0
rank1  Ramesh  Bangalore   NaN          NaN

In [ ]:
df.loc[(df.Name == "Rahul") & (df.address=="Bangalore") ,[ "address","Age"]] =["Pune",np.nan]
df

         Name    address   Age  Revised_Col
rank2   Bunty       Pune  20.0         20.0
rank3   Rahul       Pune   NaN         24.0
rank1  Ramesh  Bangalore   NaN          NaN

In [ ]:
df.at["rank1","Age"]=40
df

         Name    address   Age  Revised_Col
rank2   Bunty       Pune  20.0         20.0
rank3   Rahul       Pune   NaN         24.0
rank1  Ramesh  Bangalore  40.0          NaN

In [ ]:
df=df.sort_values(["address","Name"],ascending=[False,True])
#True, False, None

In [ ]:
df

         Name    address   Age  Revised_Col
rank2   Bunty       Pune  20.0         20.0
rank3   Rahul       Pune   NaN         24.0
rank1  Ramesh  Bangalore  40.0          NaN

In [ ]:
df.sort_index(axis=1,ascending=True)

        Age    Name  Revised_Col    address
rank2  20.0   Bunty         20.0       Pune
rank3   NaN   Rahul         24.0       Pune
rank1  40.0  Ramesh          NaN  Bangalore

In [ ]:
df

         Name    address   Age  Revised_Col
rank2   Bunty       Pune  20.0         20.0
rank3   Rahul       Pune   NaN         24.0
rank1  Ramesh  Bangalore  40.0          NaN

In [ ]:
pd.set_option("display.max_columns",None)
#pd.set_option('display.max_rows',None)

In [ ]:
?pd.set_option

In [ ]:
#Titanic data
import pandas as pd

titanic_df=pd.read_excel(r"Titanic_Survival_Train.xls",index_col=0,header=0)

FileNotFoundError: ignored

In [ ]:
titanic_df

In [ ]:
titanic_df.head(9)

In [ ]:
titanic_df.tail(15)

In [ ]:
titanic_df.dtypes

In [ ]:
titanic_df.shape

In [ ]:
titanic_df.info()

In [ ]:
titanic_df.describe(include="all")

In [ ]:
titanic_df.Age.describe()

In [ ]:
titanic_df.Cabin.mode()[0]

In [ ]:
titanic_df["Embarked"].describe()

In [ ]:
titanic_df.boxplot(column="Age")

In [ ]:
titanic_df.Sex.nunique()

In [ ]:
titanic_df.Age.std()

In [ ]:
print(titanic_df["Cabin"].mode()[1])
#print(titanic_df["Embarked"].mode()[0])

In [ ]:
"""
Continuous-Numerical-->describe()
Discrete-Numerical,Categorical-->value_counts(),crosstab(),unique()
"""

In [ ]:
##tabulation
titanic_df["Sex"].value_counts()

In [ ]:
titanic_df.Pclass.unique()

In [ ]:
titanic_df.Pclass.value_counts()

In [ ]:
titanic_df.Pclass.value_counts(normalize=True)

In [ ]:
titanic_df.Pclass.value_counts()/len(titanic_df)*100

In [ ]:
pd.crosstab(titanic_df['Sex'],titanic_df["Survived"])

In [ ]:
pd.crosstab(titanic_df['Pclass'],titanic_df['Survived'],
            margins=True,margins_name="Total")

In [ ]:
"""
Subsetting the dataframe:
1. Index position wise -->loc,iloc
2. conditional filtering-->conditions
"""

In [ ]:
#filtering
#Passengers who have age greater than 60

df_agemorethan60=titanic_df[titanic_df['Age']>60]
df_agemorethan60

In [ ]:
#Passengers whose age is more than 60 and are male and they survived
my_df=titanic_df[(titanic_df['Age']>60)&(titanic_df['Sex']=='male')&
           (titanic_df['Survived']==1)]

In [ ]:
my_df

In [ ]:
#Passengers whose age is more than 60 and are male and they survived
my_df=titanic_df.loc[(titanic_df['Age']>60)&(titanic_df['Sex']=='male')&
           (titanic_df['Survived']==1),["Age","Sex","Pclass","Survived"]]
my_df.shape

In [ ]:
my_df

In [ ]:
#treating missing values
import pandas as pd
titanic_df=pd.read_excel("Titanic_Survival_Train.xls",index_col=0,header=0)

titanic_df.shape

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
print(titanic_df[['Age','Cabin','Pclass']].isnull().sum())

In [ ]:
print(titanic_df.isnull().sum().sort_values(ascending=False))

In [ ]:
(titanic_df.isnull().any(axis=1).sum())

In [ ]:
titanic_df.loc[titanic_df.isnull().any(axis=1)]

In [ ]:
titanic_df_1=titanic_df.dropna()

In [ ]:
titanic_df_1.shape

In [ ]:
#drop v/s dropna

In [ ]:
#titanic_df_1=titanic_df.fillna(0)

In [ ]:
titanic_df.shape

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
# Dropping columns with Null Values > 50%
half_count = len(titanic_df)/2

titanic_df = titanic_df.dropna(thresh=half_count,axis=1)
print(titanic_df.isnull().sum())

"""
half_count=0.75*len(titanic_df)
print(half_count)
"""
titanic_df.shape

In [ ]:
print(titanic_df.isnull().any(axis=1).sum())

In [ ]:
titanic_df=titanic_df.drop(['Ticket','Fare'],axis=1)
titanic_df.head()

In [ ]:
#how="all"-->Logical AND
#how="any"-->Logical OR

#titanic_df_1=titanic_df.dropna(subset=["Embarked"])
#titanic_df_1.shape

titanic_df_1=titanic_df.dropna(how="any",subset=["Age","Embarked"])
titanic_df_1.shape

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
#handling missing values in Embarked column
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0],inplace=True)
#titanic_df["Embarked"]=titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0])

In [ ]:
titanic_df['Embarked'].mode()[0]

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
titanic_df.Age.mean()

In [ ]:
titanic_df['Age'].fillna(round(titanic_df['Age'].mean(),0),inplace=True)
titanic_df.head(10)

In [ ]:
print(titanic_df.isnull().sum())

In [ ]:
#removing duplicates
import pandas as pd
raw_data = {'first_name': ['Jason', 'Jason', 'Jason','Tina', 'Jake', 'Amy','Tina'],
        'last_name': ['Miller', 'Miller', 'Miller','Ali', 'Milner', 'Cooze','Ali'],
        'age': [42, 42, 1111111, 36, 24, 73,36],
        'preTestScore': [4, 4, 4, 31, 2, 3,31],
        'postTestScore': [25, 25, 25, 57, 62, 70,57]}
df = pd.DataFrame(raw_data)
df

In [ ]:
df.duplicated().sum()

In [ ]:
df.duplicated(subset=["first_name",'last_name']).sum()

In [ ]:
df.drop_duplicates()

In [ ]:
df

In [ ]:
df1=df.drop_duplicates(subset=['first_name','last_name'],keep="last")

In [ ]:
df1

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_excel(r"std1.xlsx",index_col=0,header=0)
df2=pd.read_excel(r"std2.xlsx",index_col=0,header=0)
print(df1)
print(df2)

In [ ]:
df3=pd.merge(df1,df2,on="Stdid",how="outer",indicator=True)
print(df3)

In [ ]:
"""
inner-->will fetch the observations commonly present in both the dataframes
left-->will fetch all the observations present in the left df and map the corresponding obs from the right df
right-->will fetch all the observations present in the right df and map the corresponding obs from the left df
outer-->will fetch all the obs from both the dfs and map the obs wherever possible, else impute missing values
"""

In [ ]:
df3=df3.sort_index(axis=0)
df3

In [ ]:
import pandas as pd
titanic_df=pd.read_excel("Titanic_Survival_Train.xls",index_col=0,header=0)

titanic_df.head()

In [ ]:
df = titanic_df.applymap(lambda s:s.lower().strip() if type(s) == str else s)
df.head()

In [ ]:
#Discretization and binning

PassengerAge=titanic_df['Age']
PassengerAge=PassengerAge.dropna()
Bins=[PassengerAge.min(),15,21,60,PassengerAge.max()]
Binlabels=['Children','Adolescents','Adult','Senior']
categories=pd.cut(PassengerAge,Bins,labels= Binlabels)

print(categories.value_counts())

print(categories.head(10))

In [ ]:
new_df=pd.concat([PassengerAge,categories],axis=1)
new_df

In [ ]:
new_df.Age

In [ ]:
new_df.columns

In [ ]:
new_df.columns=["Original_Age","Labelled_Age"]
new_df.head()

In [ ]:
new_df=new_df.rename(columns={"Labelled_Age":"New_Age"})
new_df.head()

In [ ]:
new_df1=new_df[new_df["Original_Age"]<10]
new_df1

## Pivot Table

Spreadsheet-style pivot tables can be created as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

In [ ]:
# Let's create a dataframe with data and multi
import pandas as pd

df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two", "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small", "small", "large", "small", "small", "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
print(df)

In [ ]:
# Aggregate values, and compute the sum!
import numpy as np
table = pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)
table

In [ ]:
# Aggregate by taking the mean across multiple columns
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'], aggfunc={'D': np.mean, 'E': np.mean})
table

In [ ]:
# Calculate multiple types of aggregations for any given value column
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'], aggfunc={'D': np.mean, 'E': [min, max, np.mean]})
table

In [ ]:
## Pivot Tables on Titanic

titanic_df.pivot_table(index=["Sex","Pclass"],values="Fare",
                       columns="Survived",aggfunc='sum',margins=True)

## Groupby

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [ ]:
## Group By

titanic_df.groupby(["Pclass","Sex"])["Fare"].mean()

## Source(s)
- https://pandas.pydata.org/pandas-docs/stable/overview.html
- https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html
- https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html
- https://www.tutorialspoint.com/python_pandas/python_pandas_missing_data.htm